In [1]:
# Import Dependicies 
import numpy as np
import pandas as pd
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
# Create Engine,use automap_base function, and create new database using reflect feature 
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect = True)

In [3]:
# Obtain classes keys
Base.classes.keys()

['measurement', 'station']

In [4]:
# Saving reference for each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
# List different keys and columns from Measurement table 
Measurement.__table__.columns.keys()

['id', 'station', 'date', 'prcp', 'tobs']

In [6]:
# List different keys and columns from Station table 
Station.__table__.columns.keys()

['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [7]:
# Create session 
session = Session(engine)

In [8]:
# Create year list spanning from start to end of database 
min_date = session.query(func.min(Measurement.date)).scalar()
max_date = session.query(func.max(Measurement.date)).scalar()

print(f" Min date is {min_date}, and Max date is {max_date}.")

year_range = np.arange(2010, 2018,1)
year_range

 Min date is 2010-01-01, and Max date is 2017-08-23.

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [9]:
# Create database for weather data for each year 
results_1 = session.query(Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).all()
results_1

weather_df = pd.DataFrame(results_1, columns = ["station_id", "date", "precipitation (inch)", "temperature (F)"])
weather_df["date"] = pd.to_datetime(weather_df["date"])
# weather_df.set_index("date", inplace = True)
# weather_df = weather_df.sort_index()
weather_df.head()

    station_id       date  precipitation (inch)  temperature (F)
0  USC00519397 2010-01-01                  0.08             65.0
1  USC00519397 2010-01-02                  0.00             63.0
2  USC00519397 2010-01-03                  0.00             74.0
3  USC00519397 2010-01-04                  0.00             76.0
4  USC00519397 2010-01-06                   NaN             73.0

In [10]:
# Create database for June weather 
month = dt.datetime(2010,6,1).month

june_df = pd.DataFrame(columns = ["station_id", "date", "precipitation (inch)", "temperature (F)"])

for index in np.arange(0, len(weather_df), 1):
    if weather_df.iloc[index]['date'].month == month:
        row = weather_df.iloc[index]
        june_df = june_df.append(row)
    else: 
        june_df = june_df
        
june_df.head()

      station_id       date  precipitation (inch)  temperature (F)
133  USC00519397 2010-06-01                  0.00             78.0
134  USC00519397 2010-06-02                  0.01             76.0
135  USC00519397 2010-06-03                  0.00             78.0
136  USC00519397 2010-06-04                  0.00             76.0
137  USC00519397 2010-06-05                  0.00             77.0

In [19]:
# Obtain statistics using the describe() function
june_df.describe()

       precipitation (inch)  temperature (F)
count           1574.000000      1700.000000
mean               0.136360        74.944118
std                0.335731         3.257417
min                0.000000        64.000000
25%                0.000000        73.000000
50%                0.020000        75.000000
75%                0.120000        77.000000
max                4.430000        85.000000

In [12]:
# Create database for December weather 
month = dt.datetime(2010,12,1).month

december_df = pd.DataFrame(columns = ["station_id", "date", "precipitation (inch)", "temperature (F)"])

for index in np.arange(0, len(weather_df), 1):
    if weather_df.iloc[index]['date'].month == month:
        row = weather_df.iloc[index]
        december_df = december_df.append(row)
    else: 
        december_df = december_df
        
december_df.head()

      station_id       date  precipitation (inch)  temperature (F)
305  USC00519397 2010-12-01                  0.04             76.0
306  USC00519397 2010-12-03                  0.00             74.0
307  USC00519397 2010-12-04                  0.00             74.0
308  USC00519397 2010-12-06                  0.00             64.0
309  USC00519397 2010-12-07                  0.00             64.0

In [26]:
# Obtain statistics using the describe() function
december_df.describe()

       precipitation (inch)  temperature (F)
count           1405.000000      1517.000000
mean               0.216819        71.041529
std                0.541399         3.745920
min                0.000000        56.000000
25%                0.000000        69.000000
50%                0.030000        71.000000
75%                0.150000        74.000000
max                6.420000        83.000000